.btn {
    padding: 8px 40px;
    font-size: 18px;
    font-family: $overpass;
    font-weight: 500;
    text-decoration: none;
    i{
        font-size: 20px;
    }
    &_primary {
        background-color: $blue;
        color: white;
        border-radius: 12px;
        transition: .25s ease-in-out;
        &:hover {
            background-color: darken($color: $blue, $amount: 10%);
        }
    }

    &_secondary {
        background: none;
        border: none;
        color: $blue;
        transition: .25s ease-in-out;
        &:hover {
            color: darken($color: $blue, $amount: 10%);
            cursor: pointer;
        }
    }
}